.billing {
	padding-top: 57px;
	grid-area: billing;
	border-right: 1px solid #d5d5d5;
	min-height: calc(100vh - var(--header-height) - 60px);
	height: auto;

	.container {
		margin: 0 auto;
		padding: 0 63px;
	}

	&__form {
		width: 630px;
		margin: 0 auto;
	}

	.payment-form {
		&__title {
			margin-bottom: 40px;
			font-weight: 700;
			font-size: 18px;
		}

		&__radio {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 40px;
		}

		&__radio-field {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			.custom-label {
				&::before {
					border-radius: 50%;
				}

				svg {
					display: block;
					width: 85px;
					height: 85px;
					object-fit: cover;
				}
			}

			.custom-input {
				&:checked + .custom-label::after {
					border-radius: 50%;
				}
			}
		}

		&__radio-field:not(:last-child) {
			margin-right: 83px;
		}

		&__checkbox {
			margin-bottom: 43px;
		}

		&__checkbox-field {
			margin-bottom: 14px;

			.custom-label {
				color: #8c8c8c;
			}

			.link {
				text-decoration: none;
				@extend .transition-active;
				color: black;

				&:hover {
					color: rgba(#000, 0.5);
				}
			}
		}

		&__card {
			position: relative;
			transform: translateX(-30px);
			display: flex;
			flex-wrap: wrap;
			width: 490px;
			padding: 20px 30px 44px;
			background: #ffffff;
			border: 1px solid #cfcfcf;
			box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);
			border-radius: 5px;
			margin-bottom: 40px;

			label {
				span {
					display: block;
					font-weight: 500;
					font-size: 12px;
					line-height: 24px;
					color: #555770;
					order: -1;
				}
			}

			input {
				padding: 11px 10px;
				background-color: #ededf1;
				border-radius: 3px;
				border: 1px solid transparent;
				outline: none;

				&:hover {
					background-color: rgb(237, 237, 241, 0.5);
				}
			}

			input.invalid {
				border-color: red;
			}
		}

		&__card-field {
			width: 100%;
			margin-bottom: 20px;
			display: flex;
			flex-direction: column;

			input {
				width: 100%;
				order: 2;

				&::placeholder {
					color: #8e90a6;
					font-size: 14px;
					line-height: 24px;
				}
			}
		}

		&__card-number {
			margin-bottom: 20px;

			label {
				span {
					display: block;
				}
			}
			input {
				width: 100px;
				margin-right: 26px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&__card-sm {
			width: 100px;
			margin-right: 30px;
			display: flex;
			flex-direction: column;

			input {
				width: 100%;
				order: 2;
			}
		}

		&__buttons {
			display: flex;
			justify-content: space-between;
			margin-bottom: 100px;

			.button--blue {
				background-color: #3366ff;
				color: white;

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}
