$default-transition-duration: 0.4s;
$default-transition-function: ease-out;
$roboto-font: 'Roboto', 'Arial', sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-cerulean-blue: #2952cc;
$color-royal-blue: #3366ff;
$color-scarlet: #ff1919;
$color-comet: #555770;
$color-manatee: #8e90a6;
$color-suva-grey: #8c8c8c;
$color-gainsboro: #dbdbdb;
$color-light-grey: #d5d5d5;
$color-very-light-grey: #cfcfcf;
$color-lavender: #ededf1;

$sm: 767px;
$md: 1199px;
$lg: 1639px;
